.auth-container {
  display: flex;
  text-align: center;
  width: 25%;
  height: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

#space {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10px;
  text-align: center;
  align-items: center;
}

input {
  margin: 3px;
}

.questionnaire {
  display: grid;
  text-align: center;
  width: 25%;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
